.mystories-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

/* .mystories-container-card {
  border: 5px solid black;
} */

/* .create-story-button {
} */

.create-story-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #00ff4c;
  line-height: 1.15;
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
  /* text-decoration: none; */
}

.create-story-button-link {
  text-decoration: none;
}

.mystories-container-card-title {
  margin-bottom: 0;
}

.edit-delete-btn-container {
  display: flex;
  margin-bottom: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-story-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #eeff00;
  line-height: 1.15;
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 75px;
  /* width: 15%; */
  align-items: center;
}

.delete-story-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: rgb(255, 255, 255);
  background: #ff0000;
  line-height: 1.15;
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 120px;
  /* width: 25%; */
}

.update-story-btn-link {
  text-decoration: none;
}

.story-title {
  background-color: rgb(201, 234, 193);
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
