#root {
  /* height: 100%; */
}

.story-details-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(131, 106, 214, 0.2);
  height: 110vh;
  /* overflow: hidden; */
}

/* .story-details-img-container {
  height: 200px;
  width: 200px;
} */

.story-details-img {
  /* object-fit: scale-down;
  width: 540px;
  height: auto; */
  /* max-width: 100%;
  max-height: 100%; */
}

.story-details-container > p {
  font-size: 28px;
}

.story-details-title {
  background-color: rgb(201, 234, 193);
  border-radius: 10px;
}

.story-details-body {
  background-color: rgb(201, 234, 193);
  border-radius: 10px;
}

.comment-container-info {
  display: flex;
  /* flex-grow: 3; */
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  /* width: 100%; */
}

.comment-container-info-body {
}

.comment-container-info-username {
  /* margin-bottom: 5px; */
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.comment-container-info-created {
  margin: 0;
  font-size: 14px;
  border-top: 1px solid black;
  text-align: right;
}

.comment-editor-container {
  /* width: 200px; */
  /* margin-bottom: 200px; */
}
