.navigation-container-wrapper {
  display: flex;
  background-color: rgb(201, 234, 193);
  justify-content: space-between;
  height: 4vh;
  border-radius: 30px;
  position: sticky;
  top: 0;
  /* align-items: center; */
}

.navigation-container-login-wrapper {
  display: flex;
  margin-right: 200px;
}

.profile-dropdown > li {
  background-color: rgb(174, 197, 168);
  font-size: 30px;
  padding: 2px;
}
.profile-dropdown > li > button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #ff5000;
  line-height: 1.15;
  font-size: 16px;
}

.navigation-container-icon-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0px 30px;
}

ul li a {
  padding: 0px 10px;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
